{% extends 'base.html'%}
{% block content %}
<h1>Edit Favourite</h1>
<div class="formwrapper">
    <form action="{{ url_for('favs_bp.edit_fav', entry_id=entry._id) }}" method="POST">
        <div class="username input-field">
            {{ form.username(value=entry.AddedBy) }} {{ form.username.label }}
            {% if form.username.errors %}
            <ul class="errors">{%  for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
        </div>
        <div class="reason input-field">
            {% set f = form.reason.process_data(entry.Reason) %}
            {{ form.reason(class_='materialize-textarea') }} {{ form.reason.label }}
            {% if form.reason.errors %}
            <ul class="errors">{%  for error in form.reason.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
        </div>
        <div class="submitbutton">
            <input id="submit" type="submit" value="Submit">
        </div>
        {{ form.hidden_tag() }}
    </form>
</div>
{% endblock %}