{% extends 'base.html'%}
{% macro render_card(entry) -%}
<div class="col m4">
    <div class="card large">
        <div class="card-image">
            <div id="card-img">
                <img class="responsive-img" src="{{ entry.Poster }}" alt="{{ entry.Title }}">
            </div>
            <span class="card-title">{{ entry.Title }}</span>
        </div>
        <div class="card-content">
            <p>{{ entry.Plot }}</p>{{ caller() }}
        </div>
        <div class="card-action center-align" id="card-buttons">
            <a href="/vote-down/{{ entry._id }}" class="left"><i class="material-icons">thumb_down</i></a>
            {{ entry.Votes }}
            <a href="/vote-up/{{ entry._id }}" class="right"><i class="material-icons">thumb_up</i></a>
        </div>
    </div>
</div>
{%- endmacro %}
{% block content %}
<h4>Movies</h4>
<div class="row flex">
    {% for movie in movies %}
    {% call render_card(movie) %} {% endcall %}
    {% else %}
    <h5>No movies found!</h5>
    {% endfor %}
</div>
<h4>TV Shows</h4>
<div class="row flex">
    {% for show in tvshows %}
    {% call render_card(show) %} {% endcall %}
    {% else %}
    <h5>No TV Shows found!</h5>
    {% endfor %}
</div>
{% endblock %}