{% extends 'base.html'%}
{% block content %}
<h4>View Favourite</h4>
<div class="row">
    <!-- Favourite Poster section-->
    <div class="col s12 m4 center-align">
        <img src="{{ entry.Poster }}" alt="Poster for {{ entry.Title }}" class="responsive-img">
        <div class="links">
            <a href="{{ url_for('favs_bp.vote', direction='down', entry_id=entry._id) }}" class="left"><i
                    class="material-icons">thumb_down</i></a>
            <a href="https://www.imdb.com/title/{{ entry.imdbID }}" target="_blank">View on IMDb</a>
            <a href="{{ url_for('favs_bp.vote', direction='up', entry_id=entry._id) }}" class="right"><i
                    class="material-icons">thumb_up</i></a>
        </div>
    </div>
    <!-- Favourite details section-->
    <div class="col m8">
        <div class="details">
            {% set _dummy = entry.pop('Poster') %}
            {% for k, v in entry.items() %}
            {% if k not in ['_id', 'Type', 'imdbID', 'Trailer'] %}
            <div class="row {{ loop.cycle('odd', 'even') }}">
                {% if 'AddedBy' in k %}
                <div class="col s3">{{ k[:5] + ' ' + k[-2:] }}: </div>
                {% elif 'imdbRating' in k %}
                <div class="col s3">{{ k[:3].upper() + k[3:4] + ' ' + k[-6:] }}: </div>
                {% else %}
                <div class="col s3">{{ k }}: </div>
                {% endif %}
                <div class="col s9">{{ v }}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- Favourite trailer section -->
<div class="row">
    <div class="col s8 offset-s2">
        <div class="video-container">
            <iframe src="//www.youtube.com/embed/{{ entry.Trailer }}"></iframe>
        </div>
    </div>
</div>
{% endblock %}