{% extends 'base.html'%}
{% macro render_card(entry) -%}
<div class="col l6 xl4">
    <div class="card large">
        <div class="card-image">
            <div id="card-img">
                <img class="responsive-img" src="{{ entry.Poster }}" alt="Poster for {{ entry.Title }}">
            </div>
            <span class="card-title">{{ entry.Title }}</span>
        </div>
        <div class="card-content">
            <p>{{ entry.Plot }}</p>{{ caller() }}
        </div>
        <div class="card-action center-align" id="card-buttons">
            <a href="{{ url_for('favs_bp.vote', direction='down', entry_id=entry._id) }}" class="left"><i class="material-icons">thumb_down</i></a>
            <a href="{{ url_for('favs_bp.edit_fav', entry_id=entry._id) }}">EDIT</a>
            <a href="{{ url_for('favs_bp.view_fav', entry_id=entry._id) }}">VIEW</a>
            <a href="#deleteModal{{ entry._id }}" class="modal-trigger">DELETE</a>
            <a href="{{ url_for('favs_bp.vote', direction='up', entry_id=entry._id) }}" class="right"><i class="material-icons">thumb_up</i></a>
        </div>
        <div class="modal" id="deleteModal{{ entry._id }}">
            <div class="modal-content">
                <h4>Are you sure you want to delete:</h4>
                <p>Title: {{ entry.Title }}</p>
                <p>Added By: {{ entry.AddedBy }}</p>
                <p>Reason: {{ entry.Reason }}</p>
            </div>
            <div class="modal-footer">
                <form action="{{ url_for('favs_bp.delete_fav', entry_id=entry._id) }}" method="post">
                    <input type="submit" value="DELETE">
                </form>
                <a href="#!" class="modal-close">CANCEL</a>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}
{% block content %}
<h4>View All {{ title }}</h4>
<div class="row flex">
    {% for entry in entries %}
    {% call render_card(entry) %} {% endcall %}
    {% else %}
    <h5>No {{ title }}s found!</h5>
    {% endfor %}
</div>
<div class="pagination center-align">
{% if entries_count < 6 and skip > 0 %}
    <a href="{{ url_for('main_bp.view_all', entry_type=entry_type, skip=skip-6) }}" class="waves-effect waves-light btn"><i class="material-icons">chevron_left</i>Prev</a>
{% endif %}
{% if entries_count > 6 %}
    <a href="{{ url_for('main_bp.view_all', entry_type=entry_type, skip=skip+6) }}" class="waves-effect waves-light btn">Next<i class="material-icons">chevron_right</i></a>
{% endif %}
</div>
{% endblock %}