.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex .col {
    margin-left: 0 !important;
}

.card .card-action {
    padding: 10px 15px;
    top: 460px;
}

.card-action .row {
    margin: -10px 0;
}