body {
    background-color: #3d3a38;
    color: #f3f3ee;
}

nav {
    background-color: #97686B;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#card-buttons {
    padding: 10px 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#card-buttons a {
    margin-right: 0;
}

.card {
    color: #242323;
    background-color: #f4eff1;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-title {
    text-shadow: 0 1px 0 black;
}

.card-title a {
    color: #f3f3ee;
}

#card-img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
}

.card-stacked .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row .col.l6.xl4 {
    margin: 0;
    flex: 1 1 auto;
}

.row.odd {
    background: #212121;
}

.row.even {
    background: #897778;
}

.details .row {
    margin: 10px 5px;
}

.formwrapper {
    padding-top: 20px;
}

#entry_name:focus,
input.select-dropdown.dropdown-trigger:focus,
#username:focus,
#reason:focus {
    border-bottom: 1px solid #97686B;
    box-shadow: 0 1px 0 0 #97686B;
}

#entry_name:focus+label,
input.select-dropdown.dropdown-trigger:focus+label,
#username:focus+label,
#reason:focus+label,
.dropdown-content li>span,
#mobile-collapse>li>a,
a:not(.sidenav-trigger)>.material-icons,
#card-buttons>a {
    color: #97686B;
}

.input-field input[type^="text"],
.materialize-textarea,
.links>a,
.pagination i.material-icons,
.modal-footer a i.material-icons {
    color: #f3f3ee;
}

:root {
    --color: 151, 104, 107;
}

.submitbutton button,
.pagination .btn,
.modal-footer .btn {
    color: #f3f3ee;
    background: rgba(var(--color));
}

.submitbutton button:hover,
.pagination .btn:hover,
.modal-footer .btn:hover {
    background: rgba(var(--color), 0.7);
}

.pagination>a,
.modal-footer button,
.modal-footer a {
    display: inline-flex;
    vertical-align: middle;
}