{% extends 'base.html'%}
{% block content %}
<h1>Create Listings</h1>
<div class="formwrapper">
    <form method="post">
        <div class="film-name">
            {{ form.film_name(placeholder='Avengers: Endgame') }} {{ form.film_name.label }}
            {% if form.film_name.errors %}
            <ul class="errors">{%  for error in form.film_name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
        </div>
        <div class="screen-number">
            {{ form.screen_number(placeholder='1') }} {{ form.screen_number.label }}
            {% if form.screen_number.errors %}
            <ul class="errors">{%  for error in form.screen_number.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
        </div>
        <div class="date-field">
            {{ form.date_field(placeholder='2019-12-25', class_='datepicker') }} {{ form.date_field.label }}
            {% if form.date_field.errors %}
            <ul class="errors">{%  for error in form.date_field.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
        </div>
        <div class="time-field">
            {{ form.time_field(placeholder='07:00 PM', class_='timepicker') }} {{ form.time_field.label }}
            {% if form.time_field.errors %}
            <ul class="errors">{%  for error in form.time_field.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
        </div>
        <div class="submitbutton">
            <input id="submit" type="submit" value="Submit">
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
    {% for message in get_flashed_messages() %}
    M.toast({
        html: '{{ message }}'
    })
    {% endfor %}
{% endblock %}